.about {
  position: relative;
  width: 100%;

  min-height: 100vh;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;

  // @media (max-width: 768px) {
  //   padding: 2rem 1rem;
  // }

.imageContainer {
  position: absolute;
  inset: 0;
  z-index: 0;
  margin: 30px;
  border-radius: 30px;
  overflow: hidden;
  background-color: #141516;

  canvas {
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}


  .content {
    position: relative;
    z-index: 1;
    max-width: 1100px;
    font-family: "Satoshi-med", sans-serif;
    color: #bfbfbf;
    top: 6rem;
    left: 8rem;

    h1 {
      font-size: 2rem;
      line-height: 1.3;
      flex-wrap: wrap;

      .circleTarget {
        position: relative;
        color: #f4c6b0;
      }

      @media (max-width: 1262px) {
        font-size: 1.6rem;
      }

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }
    }

    .squiggle {
      position: relative;
      display: inline-block;
      margin: 0 1px;
    }

    .squiggle1 {
      position: absolute;
      bottom: -0.6em;
      left: -0.6rem;
      width: 120%;
      height: 2.4em;
      pointer-events: none;
    }

    .paragraphs {
      display: flex;
      gap: 2rem;
      font-size: 1.1rem;
      line-height: 1.8;

      @media (max-width: 768px) {
        flex-direction: column;
        font-size: 1rem;
      }

      p {
        flex: 1;
        color: #e4e4e4;
        max-width: 100%;
      }
    }

    @media (max-width: 1262px) {
      max-width: 700px;
    }

    @media (max-width: 1120px) {
      top: 10rem;
      left: 2rem;
    }

    @media (max-width: 568px) {
      top: 10rem;
      left: 2rem;
      max-width: 330px;
    }
  }

  .badge {
    position: absolute;
    top: 8rem;
    right: 8rem;
    width: 150px;
    height: 150px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    font-weight: 900;
    font-family: "nothing", sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    z-index: 2;
    transition: transform 0.3s ease;

    @media (max-width: 1120px), (max-width: 568px) {
      top: 4rem;
      left: 4rem;
      width: 90px;
      height: 90px;
      font-size: 0.75rem;
    }
  }

.marqueeContainer {
  position: relative;
  overflow: hidden;
  top: 20rem;
  margin-bottom: 6rem;
  // margin-top: 10rem;
  color: #bfbfbf;
      @media (max-width: 568px) {
      top: 12rem;
    }
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    // background: #000000;
    backdrop-filter: blur(3px);
    border-radius: 5rem;
    z-index: 0;
    border: #888889;
    border-color: #888889;
  }

 * {
    position: relative;
    z-index: 1;
  }
}

.marqueeWrapper {
  display: flex;
  // width: 200%;
  overflow: hidden;
  flex-shrink: 0;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  overflow: hidden;
  span {
    margin-right: 2rem;
    font-size: 5rem;
    font-family: "Satoshi-med", sans-serif;
        @media (max-width: 768px) {
    font-size: 3rem;
    
  }
  //   @media (max-width: 468px) {
  //   font-size: 2rem;
  // }
  // background: repeating-linear-gradient(
  //   -45deg,
  //   white 0 20px,
  //   black 20px 40px
  // );

  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;

  // // Outline stroke
  // -webkit-text-stroke: 2px white;
  // paint-order: stroke fill;
  }
}


}

// Fonts
@font-face {
  font-family: "nothing";
  src: url("/font/nothing/nothing-font.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-med";
  src: url("/font/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
